﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.button {
    background: #138efc;
    color: #ffffff;
    padding: 10px;
    border: 3px solid #138efc;
    border-radius: 20px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    width: 150px;
    margin-top: 30px;
    display: inline-block;
    margin-right: 15px;
    word-wrap: break-word;
}

    .button:hover {
        background: #78baf5 !important;
        color: #ffffff;
        border-color: #138efc;
        transition: all 0.3s ease 0s;
    }

    .button:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        background: #ffffff !important;
        color: #138efc;
    }

   .button:disabled:hover {
        opacity: 0.6;
        cursor: not-allowed;
        background: white;
        color: #138efc;
    }

.image-button {
    position: absolute;
    top: -20px;
    left: calc(50% - 23px);
    text-align: center;
}

.modal-div {
    overflow: auto;
    max-height: 800px;
    max-width: 900px;
    min-height: 470px;
    min-width: 650px;
    height: 70vh;
    width: 60vw;
    padding-bottom: 60px;
}

.custom-select {
    min-height: 30px !important;
    height: 30px !important;
}

.custom-select-div {
    font-weight: bold;
    margin-bottom: 13px;
    font-size: 14px;
    font-family: inherit;
    
}

    .custom-select:disabled {
        background-color: #eeeeee !important;
        opacity: 1 !important;
        line-height: 1.42857143 !important;
        color: #555555 !important;
        border: 1px solid #ccc !important;
        border-radius: 4px !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
        cursor: not-allowed;
    }

.alert-div-info {
    background-color: aliceblue;
    border: 3px solid #138efc;
}

.alert-div-success {
    background-color: #f1fff0;
    border: 3px solid #26fe92;
}

.alert-div-error {
    background-color: #fff0f2;
    border: 3px solid #fc4964;
}

.alert-div {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-span {
    margin-left: 20px;
    margin-right: 20px;
}

.save-cancel-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 40px;
}

.custom-form {
    min-height: 38px;
    max-height: 38px;
}

.padding-15-lr {
    padding-left: 15px;
    padding-right: 15px;
}

.rdt_TableRow.selected-custom-table-row {
    background-color: #ffeadb !important;
}

    .rdt_TableRow.selected-custom-table-row:hover {
        background-color: #e3cfc1 !important;
    }

.width-100-proc {
    width: 100%;
}

.all-tab {
    font-size: 14px;
    font-family: inherit;
    display: inline;
    padding: 10px;
}
.selected-tab {
    background-color: #138efc !important;
    color: white;
    border-radius: 15px 15px 0px 0px;
}

.not-selected-tab {
    background-color: transparent !important;
    color: #138efc;
}

.div-tabs {
    margin-top: 20px;
}

.line-tabs {
    margin-top: 4px;
    height: 5px;
    width: auto;
    border-bottom: 5px solid #2a9bff;
    border-radius: 40px;
}

.register-sample-button {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 200px !important;
}

.padding-top-30 {
    padding-top: 30px;
}

.btn-eng {
    background: url("/Content/Images/eng.png");
    background-size: 35px 20px;
    width: 35px;
    height: 20px;
    border: 0px;
    margin-right: 10px;
    margin-top: 12px;
}

    .btn-eng:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

.btn-pl {
    background: url("/Content/Images/pl.png");
    background-size: 35px 20px;
    width: 35px;
    height: 20px;
    border: 0px;
    margin-top: 12px;
    margin-right: 15px;
}

.btn-logout {
    background: url("/Content/Images/logout.png");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    border: 0px;
    margin-right: 10px;
    margin-top: 12px;
    margin-left: 10px;
}

    .btn-pl:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

.navbar {
    overflow: auto;
    background-color: #138efc;
    border: 1px solid #138efc;
    border-radius: 0px 0px 20px 20px;
    color: white;
}
.navbar-margin {
    margin-bottom: 50px;
}

.lis-title {
    font-size: 16px;
    margin-left: 15px;
    margin-top: 12px;
}

.logo {
    margin: auto;
    background: url("/Content/Images/LIS3.png");
    background-size: 95px 70px;
    width: 100px;
    height: 70px;
    border: 2px solid #138efc;
    border-radius: 40px;
    position: absolute;
    top: 15px;
    left: calc(50% - 50px);
}

@media screen and (max-width: 800px) {
    .logo {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .lis-title {
        display: none !important;
    }
}

.navbar-right {
    position: absolute;
    right: 15px;
    display: inline;
}

.login-page {
    width: auto;
    min-height: 500px;
    margin-top: 100px;
}

.login-div {
    max-width: 600px;
    border: 3px solid #138efc;
    border-radius: 20px;
    padding: 30px;
    min-width: 465px;
}

.data-table {
    border: 3px solid #138efc;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
}

.search-input {
    width: 75%;
    display: inline;
}

.search-button {
    background: url("/Content/Images/alert_info.png");
    background-size: 26px 26px;
    width: 30px;
    height: 30px;
    border: 2px solid #138efc;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    display: table-cell;
    vertical-align: middle;
}

.logo-login {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-input {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-buton {
    width: 150px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #138efc;
    border-radius: 30px;
    background: white;
    font-weight: bold;
    font-size: 14px;
    color: #138efc;
    margin-top: 20px;
}

.modal-buton {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    border: 3px solid #138efc;
    border-radius: 30px;
    font-weight: bold;
    font-size: 14px;
}

    .modal-buton:disabled {
        opacity: 0.8;
        cursor: not-allowed;
    }

.action-modal-button {
    color: white;
    background: #36a0ff;
}

.cancel-modal-button {
    color: #138efc;
    background: white;
}

.big-modal-button {
    width: 170px !important;
}

h2 {
    color: #0a4880;
}

.study-action-button {
    width: 30px;
    height: 30px;
    border: 2px solid #138efc;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    display: table-cell;
    vertical-align: middle;
    margin-top: 20px;
}

.x-button {
    background: url("/Content/Images/alert_error.png");
    background-size: 26px 26px;
}

.report-button {
    background: url("/Content/Images/mini_report.png");
    background-size: 26px 26px;
}

.form-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    background-color: #f1f1f1;
    color: #666;
    top: 10px;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    margin-right: 7px;
    outline: none;
}

    .form-radio:checked::before {
        position: absolute;
        font: 13px/1 'Open Sans', sans-serif;
        left: 11px;
        top: 7px;
        content: '\02143';
        transform: rotate(40deg);
    }

    .form-radio:hover {
        background-color: #f7f7f7;
    }

    .form-radio:checked {
        background-color: #f1f1f1;
    }

.test-indicator {
    margin-top: 16px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #dff7f7;
    border-radius: 10px;
    margin-left: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9fddfc;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #2185b8
    }