body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.button {
    color: #26d5fe;
    background: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #26d5fe;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    width: 150px;
    margin-top: 30px;
    display: inline-block;
    margin-right: 15px;
    word-wrap: break-word;
}

    .button:hover {
        color: #ffffff !important;
        background: #26d5fe;
        border-color: #26d5fe;
        transition: all 0.3s ease 0s;
    }

    .button:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

.image-button {
    position:absolute;
    top: -20px;
    left: calc(50% - 23px);
    text-align:center;
}

.modal-div {
    overflow: scroll;
    max-height: 800px;
    max-width: 900px;
}

.custom-select {
    min-height: 30px !important;
    height: 30px !important;
}

.custom-select-div {
    font-weight: bold;
}

.alert-div-info {
    background-color: aliceblue;
    border: 3px solid #26d5fe;
}

.alert-div-success {
    background-color: #f1fff0;
    border: 3px solid #26fe92;
}

.alert-div-error {
    background-color: #fff0f2;
    border: 3px solid #fc4964;
}

.alert-div {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-span {
    margin-left: 20px;
    margin-right: 20px;
}